<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyAdonisJS</title>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body>
  <div class="max-w-3xl mx-auto mt-6">
    <nav>
      <a href="{{ route('home') }}">Home</a>
      <a href="{{ route('movies.show', {slug: 'my-awesome-movie'}) }}">
        My Awesome Movie
      </a>
      <a href="{{ route('movies.show', {slug: 'another-awesome-movie'}) }}">
        Another Awesome Movie
      </a>
    </nav>

    <h1>{{ movie.title }}</h1>

    {{{ movie.abstract }}}
  </div>
</body>

</html>
